@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00184C;
  --primary-dark: #090E24;
  --primary-light: #3B4767;
  --secondary: #626C85;
  --ghost: #D6DAE9;
  --accent: #E3E7F1;
  --light-accent: #EDF1F8;
  --light-grey: #D9D9D9;
  --cream: #F5F7FA;
  --dark-cream: #F1F7FE;
  
  --blue: #1179FC;
  
}

body {
  width: 100%;
  overflow-x: hidden;
  min-height: 100dvh;
  height: 100%;
}

.hero-clip-path{
  clip-path: polygon(50% 91%, 100% 65%, 100% 100%, 0 100%, 0 100%, 0 100%, 0 100%, 0 50%);

}

.text-gradient{
  @apply bg-textGradient text-transparent bg-clip-text
}

.container-auto {
  @apply max-w-screen-xl mx-auto px-4 xl:px-0
}

.hover-animate{
  @apply transition-all duration-300 hover:transition-all hover:duration-300 ease-linear hover:ease-linear
}

.group-hover-animate{
  @apply transition-all duration-300 group-hover:transition-all group-hover:duration-300 ease-linear hover:ease-linear
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
