@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00184C;
  --primary-dark: #090E24;
  --primary-light: #3B4767;
  --secondary: #626C85;
  --ghost: #D6DAE9;
  --accent: #E3E7F1;
  --light-accent: #EDF1F8;
}

body {
  width: 100%;
  overflow-x: hidden;
  min-height: 100dvh;
  height: 100%;
}

.hero-clip-path{
  clip-path: polygon(30% 0%, 100% 0, 100% 30%, 100% 70%, 60% 100%, 40% 100%, 0% 70%, 0 0);
}

.text-gradient{
  @apply bg-textGradient text-transparent bg-clip-text
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
